{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "ignorePatterns": [
    "public/",
    "node_modules/",
    "gatsby-*.js"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "no-console": "error",
    "no-debugger": "error",
    "no-plusplus": "off",
    "import/no-unresolved": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0
  }
}
